.album-box{
    margin: 100px auto;
    background-color: #ccc;
    width: 70%;
    border-radius: 25px;
    padding-bottom: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel{
    width: 80%;
    height: 300px;
    margin: 20px auto;
}

.carousel-item{
    width: 100%;
    height: 300px;
}

.banner{
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    position: relative;
    top: 10px;
    margin: 10px auto 10px 30px;
    color: dimgrey;
}

.message-container {
    background: #fff;
    position: relative;
    top: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 85%;
  }
  
  .message-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: 0.25s ease;
  }
  .message-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
  }
  
  .message-cover {
    background: url("../img/img_1.jpg");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
  }
  
  .message-author{
    margin: 0 auto;
    padding-top: 0.125rem;
    width: 80%;
  }
  
  .message-author h3::before{
    background: url("../img/img_1.jpg");
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: 0.5rem;
    position: relative;
    top: 8px;
    width: 32px;
  }
  
  .message-author h3 {
    font-weight: 100;
  }

  .message-footer span{
    float: right;
    color: #999999;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 0.5rem;
  }
  
  .switch-page{
    position: relative;
    top: 10px;
    margin: 30px auto;
  }
  
  .pagination a,.page-item{
    background-color:rgba(0, 0, 0, 0);
  }
  
  .pagination a:hover, .pagination .active {
    background-color: #bbb;
  }

  .message-edit{
    width: 85%;
    margin: 20px auto
  }