.backgroundbox {
    margin: 100px auto;
    width: 60%;
    padding-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #dadada, #b8b8b8);
    box-shadow:  20px 20px 60px #adadad,
             -20px -20px 60px #ebebeb;
  }

.list-group-item {
    border-width: 0px;
    margin: 10px auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    color: #191919;
}

.list-group-item:hover {
    background-color: #bbb;
}
.list-group-item:visited {
    background-color: rgba(0, 0, 0, 0);
}

.num {
  float: right;
  width: 20%;
}

.switch-page{
  position: relative;
  top: 10px;
  margin: 30px auto;
}

.pagination a,.page-item{
  background-color:rgba(0, 0, 0, 0);
}

.pagination a:hover, .pagination .active {
  background-color: #bbb;
}