.album-box{
    margin: 100px auto;
    background-color: #ccc;
    width: 70%;
    border-radius: 25px;
    padding-bottom: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel{
    width: 80%;
    height: 300px;
    margin: 20px auto;
}

.carousel-item{
    width: 100%;
    height: 300px;
}

.banner{
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}