.manage-box{
    margin: 100px auto;
    background-color: #ccc;
    width: 70%;
    border-radius: 25px;
    padding-bottom: 10px;
}
.table{
    table-layout: fixed;
    width: 90%;
    margin: 50px auto;
}
  
.t_title,.t_head{
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}
.t_title:hover{
    background-color: #bbb;
    cursor: pointer;
}

