.blog-detail-cover{
    margin: 20px auto;
    width: 50%;
    height: auto;
  }
  
  .manage-box{
    margin: 100px auto;
    background-color: #ccc;
    width: 60%;
    border-radius: 25px;
    padding-bottom: 10px;
  }
  
  .list-group-item{
    border-width: 0px;
    margin: 10px 20% 10px 10%;
    
    background-color: rgba(0, 0, 0,0);
    color: #191919;
  }
  
  .list-group-item:hover{
    background-color: #bbb;
  }
  
  .list-group-item:visited{
    background-color: rgba(0, 0, 0,0);
  }

  body {
    background: #e5ded8;
    box-sizing: border-box;
  }