#writebox{
    margin: 100px auto;
    background-color: #ccc;
    width: 70%;
    border-radius: 25px;
    padding-bottom: 10px;
}

#mdbox{
    margin: 20px auto;
    width: 90%;
}

#title{
    position: relative;
    top: 10px;
    margin: 20px auto 10px 30px;
}

.filebox{
    width: 50%;
}

.chosen{
    
    width: 50%;
    margin:10px 0;
}

.chosen-container-single .chosen-single {
    padding: 8px 0 5px 8px;
    height: 40px;
    background-color: rgb(255, 255, 255);
}