html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* .blog-box{
  margin: 100px auto;
  background-color: #ccc;
  width: 30%;
  border-radius: 25px;
  padding-bottom: 10px;
} */

/* #friend-list { 
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100%;
  background: #EEE;
  list-style-type: none;
} */

.friend {
  width: 200x;
  height: 60px;
  background: #EEE;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 20px;
}

/* .friend img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid #AAA;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 10px;
} */

.friend .name {
  font-size: 18px;
}

.friend.selected {
  background: #a9aca9;
  color: white;
}

.friend.selected img {
  border-color: white;
}

.friend:not(.selected):hover {
  background: #DDD;
}

.friend-box {
  position:fixed;
  float: left;
  margin: 100px auto;
  background-color: rgba(0,0,0,0);
  width: 20%;
  border-radius: 25px;
  padding: 20px;
}



/* 
.friend img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid #AAA;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 10px;
}

.friend .name {
  font-size: 18px;
}

.friend.selected {
  background: #a9aca9;
  color: white;
}

.friend.selected img {
  border-color: white;
}

.friend:not(.selected):hover {
  background: #DDD;
} */