.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  float: right;
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.request-box{
  position:fixed;
  right: 15px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0);
  width: 20%;
  /* border-radius: 25px; */
  padding: 20px;
}

#request-list { 
  float: right;
  display: block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100%;
  background: #EEE;
  list-style-type: none;
}

.request1 {
  width: 200px;
  height: 60px;
  background: #EEE;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.reqbtn{
  cursor: pointer;
  /* background-color: black; */
  width: 50px;
  line-height: 15px;
  text-align: center;
  font-weight: bold;
  color: rgb(253, 249, 249);
  /* text-shadow:1px 1px 1px #333; */
  /* border-radius: 5px; */
  margin:0 20px 20px 0;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  background: #5b5c8b;
  box-shadow:  4px 4px 0px #4d4e76,
               -4px -4px 0px #696aa0;
}
