<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script>
        function page(pageIndex){
            window.location.href='/myblog/index/'+pageIndex;
        }
    </script>
</head>
<body>
<div th:object="${session.user}" >
    <p th:text="*{nickname}">昵称</p>
</div>
welcome to myblog
<table>
    <tr>
        <th class="wd">title</th>
        <th class="wd">description</th>
        <th class="wd">content</th>
        <th class="wd">updatetime</th>
    </tr>
    <tr th:if="${#lists.isEmpty(session.blogList)}">
        <td colspan="4">目前没有文章</td>
    </tr>
    <tr th:unless="${#lists.isEmpty(session.blogList)}" th:each="blog : ${session.blogList}">
        <td><a th:text="${blog.title}" th:href="@{'/article/'+${blog.id}}"/></a>title</td>
        <td th:text="${blog.description}">desrciption</td>
        <td th:text="${blog.content}">content</td>
        <td th:text="${blog.updatetime}">updatetime</td>
    </tr>

    <form th:action="@{/friend/add}" method="post">
        <input type="text" name="friendId">
        <input type="submit">
    </form>

<!--</table>-->

<!--    <table>-->
<!--        <tr>-->
<!--            <th>title</th>-->
<!--            <th>description</th>-->
<!--            <th>content</th>-->
<!--            <th>updatetime</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><a th:text="${blog1.title}" th:href="@{'/article/'+${blog1.title}}"/></a></td>-->
<!--            <td th:text="${blog1.description}"></td>-->
<!--            <td th:text="${blog1.description}"></td>-->
<!--            <td th:text="${blog1.updatetime}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><a th:text="${blog2.title}" th:href="@{'/article/'+${blog2.title}}"/></a></td>-->
<!--            <td th:text="${blog2.description}"></td>-->
<!--            <td th:text="${blog2.description}"></td>-->
<!--            <td th:text="${blog2.updatetime}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><a th:text="${blog3.title}" th:href="@{'/article/'+${blog3.title}}"/></a></td>-->
<!--            <td th:text="${blog3.description}"></td>-->
<!--            <td th:text="${blog3.description}"></td>-->
<!--            <td th:text="${blog3.updatetime}"></td>-->
<!--        </tr>-->
<!--    </table>-->

<div>
    <input type="button" value="首 页" th:onclick="|page(1)|"/>
    <input type="button" value="上一页" th:onclick="|page(${session.pageIndex-1})|" th:disabled="${session.pageIndex==1}"/>
    <input type="button" value="下一页" th:onclick="|page(${session.pageIndex+1})|" th:disabled="${session.pageIndex==session.pageCount}"/>
    <input type="button" value="尾 页" th:onclick="|page(${session.pageCount})|"/>
</div>
</body>
</html>



