<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <script src="https://cdn.staticfile.org/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="stylesheet" th:href="@{/static/css/tag.css}">
    <link rel="stylesheet" th:href="@{/static/css/navbar.css}">
    <script src='https://cdn.staticfile.org/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script th:src="@{/static/js/navbar.js}"></script>
</head>
<body>
<div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="javascript:void(0)" target="_blank">hyzzz_blog</a>&nbsp;
                    <a class="switch" id="switch"><i class="fa fa-moon-o" style="font-size: 24px"></i></a>&nbsp;
                    <a class="switch"><i class="fa fa-eye" style="font-size: 24px"></i></a>
                    <a class="switch"><i class="fa fa-eye-slash" style="font-size: 24px"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" th:href="@{/index}">主页</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" th:href="@{/type}">分类</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" th:href="@{/archive}">归档</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" th:href="@{/friend/index}">好友</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" th:href="@{/manage}">博客</a>
                                    <a class="dropdown-item" th:href="@{/message/index}">留言板</a>
                                    <a class="dropdown-item" th:href="@{/manage-album}">相册</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" th:href="@{/article/toadd}">发布</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link dropdown-toggle" href="./personal.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" th:href="@{/aboutme/info}">个人信息</a>
                                    <a class="dropdown-item" th:href="@{/aboutme/message}">留言板/相册</a>
                                    <a class="dropdown-item" th:href="@{/aboutme/logout}">注销</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>




    <div class="backgroundbox">
          <div class="list-group">
            <span id="listhead"><span>标签</span><span class="num">数量</span></span>
            <a th:href="@{'/archive/type/'+${type1.id}}" th:text="${type1.name}" class="list-group-item">tag1<span class="num"><ion-icon name="bookmark"></ion-icon>num1</span></a>
            <a th:href="@{'/archive/type/'+${type2.id}}" th:text="${type2.name}" class="list-group-item">tag2<span class="num"><ion-icon name="bookmark"></ion-icon>num2</span></a>
            <a th:href="@{'/archive/type/'+${type3.id}}" th:text="${type3.name}" class="list-group-item">tag3<span class="num"><ion-icon name="bookmark"></ion-icon>num3</span></a>
            <a th:href="@{'/archive/type/'+${type4.id}}" th:text="${type4.name}" class="list-group-item">tag4<span class="num"><ion-icon name="bookmark"></ion-icon>num4</span></a>
            <a th:href="@{'/archive/type/'+${type5.id}}" th:text="${type5.name}" class="list-group-item">tag5<span class="num"><ion-icon name="bookmark"></ion-icon>num5</span></a>
            <a th:href="@{'/archive/type/'+${type6.id}}" th:text="${type6.name}" class="list-group-item">tag6<span class="num"><ion-icon name="bookmark"></ion-icon>num6</span></a>
            <a th:href="@{'/archive/type/'+${type7.id}}" th:text="${type7.name}" class="list-group-item">tag7<span class="num"><ion-icon name="bookmark"></ion-icon>num7</span></a>
            <a th:href="@{'/archive/type/'+${type8.id}}" th:text="${type8.name}" class="list-group-item">tag8<span class="num"><ion-icon name="bookmark"></ion-icon>num8</span></a>
            <a th:href="@{'/archive/type/'+${type9.id}}" th:text="${type9.name}" class="list-group-item">tag9<span class="num"><ion-icon name="bookmark"></ion-icon>num9</span></a>
          </div>
    </div>


<script src='https://cdn.staticfile.org/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script th:src="@{/static/js/navbar.js}"></script>
</body>

</html>